# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

dist/app.js
dist/simple-super-table.js
node_modules
npm-debug.log
*.iml
.idea
