@headerBgColor: #f9fafb;
@textHighlightColor: #f8f800;
@borderColor: rgba(34, 36, 38, .1);
@inputFocusBorderColor: #aaaaaa;

div.simple-super-table {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;

  div.top-bar {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 32px;
    background: @headerBgColor;
    border: 1px solid @borderColor;
    justify-content: flex-end;

    div.title-container {
      margin: auto;
      padding-left: 0.5em;
      padding-right: 0.5em;
      font-weight: bold;
      flex: 1;
      flex-shrink: 0;
      white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    div.filter-container {
      display: flex;
      flex-direction: row;
      flex: 1;
      flex-shrink: 0;
      margin: auto;
      border-right: 1px solid @borderColor;

      div.icon {
        display: flex;
        padding-left: 0.5em;
        padding-right: 0.5em;
        flex-shrink: 0;
        fill: #aaa;

        * {
          margin: auto;
        }
      }

      input {
        flex: 1;
        flex-shrink: 0;
        border-radius: 0;
        padding: 0.5em;
        margin: auto;
        font-size: 0.9em;
        border: 1px solid @borderColor;

        &:focus {
          border: 1px solid @inputFocusBorderColor;
          outline: none;
        }
      }
    }

    div.csv-container {
      display: flex;
      flex-shrink: 0;
      margin-left: 0.5em;
      margin-right: 0.25em;

      div.original-csv,
      div.csv-filter {
        margin: auto 0.25em;
        cursor: pointer;
        width: 18px;
        height: 18px;
        fill: #232323;

        &.disabled {
          opacity: 0.25;
        }
      }
    }
  }

  div.table-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    .table {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      border-collapse: collapse;
      border-right: 1px solid @borderColor;
      border-bottom: 1px solid @borderColor;
      overflow: hidden;

      .table-header {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        border-bottom: 1px solid #cccccc;

        .row {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          background: @headerBgColor;
          user-select: none;
          cursor: default;
          border-top: 1px solid @borderColor;

          .col {
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            box-sizing: border-box;
            border-left: 1px solid @borderColor;
            margin: 0;
            padding: 0.5em;

            &:last-child {
              border-right: 1px solid @borderColor;
            }

            .content {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              .header {
                font-size: 0.9em;
                font-weight: 600;
                margin: auto 0.5em auto 0;
              }

              .sort-icon-container {
                width: 17px;
                margin: auto;
              }
            }
          }
        }
      }

      .table-body {
        overflow: auto;
        div.row.active,
        div.col.active {
          background-color: #e0e0e0;
          box-shadow: 0 0 0 rgba(0, 0, 0, .87) inset;
        }

        div.row {
          display: flex;
          flex-direction: row;
          flex-shrink: 0;
          border-top: 1px solid @borderColor;
        }

        div.col {
          box-sizing: border-box;
          flex-shrink: 0;
          padding: 0.5em;
          border-left: 1px solid @borderColor;

          &:last-child {
            border-right: 1px solid @borderColor;
          }

          .filter-text-highlight {
            .highlight {
              box-sizing: border-box;
              background-color: @textHighlightColor;
              border-radius: 3px;
              border: 1px solid @borderColor;
            }
          }
        }
      }

      div.message-container {
        display: flex;
        flex: 1;
        flex-shrink: 0;

        h3.no-data-message,
        h3.no-matching-data-message {
          margin: auto;
          text-align: center;
          font-size: 0.95em;
          color: #777777;
        }
      }
    }
  }

  &.row-clickable {
    .table {
      .table-body {
        div.row:hover {
          background-color: rgba(0, 0, 0, .05);
        }
      }
    }
  }

  &.col-clickable {
    .table {
      .table-body {
        div.col:hover {
          background-color: rgba(0, 0, 0, .05);
        }
      }
    }
  }
}
